div.bg1{
   // --background: #e72845;

   // min-height: 700px;
}
ion-content{
    --background: #d09c80;

}
h2{
    padding-left: 40%;
}
ion-card-header.logo{
    padding-left: 10%;
}
ion-button[color="dark"]{
    text-transform: initial;
}
/*ion-input{
    border:1px solid;
    border-radius: 8px;
    padding-left: 10px;
}
.card{
}*/
