<ion-header>
  <ion-toolbar>
    <ion-title>courselist</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let info of course_data">
    <ion-card-header>
      <ion-card-title>
  {{"name "+info.name}}
  
      </ion-card-title>
      <ion-card-subtitle>{{"course code: "+info.c_code}}</ion-card-subtitle>
    
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row><ion-col>Course</ion-col><ion-col>{{info.c_name}}</ion-col></ion-row>

        
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
