ion-input{
    border:1px solid;
    border-radius: 8px;
    input:invalid{
        animation: shake 300ms;
    }
    @keyframes shakes{
        25% { transform: translateX(4px);}
        50% { transform: translateX(-4px);}
        75% { transform: translateX(4px);}
    }
    }

div.bg1{
    background-color : #d09c80;
    min-height: 700px;
}
.card {
    background-color: #d09c80;
  }
  ion-button{
    padding-left: 50%;
    padding-bottom: 10px;
  }
